
.comp-main-visual{
  position: relative;
  width: 100%;
  height:var(--wHeightPx);
  border-bottom: 3px solid $insertColor;
  box-sizing: border-box;
  overflow: hidden;
  &::before, &::after{
    position: absolute;
    z-index: 10;
    left:0;
    right:0;
    margin: auto;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: 40vw;
    background-repeat: repeat-x;
  }
  .main_logo{
    position: absolute;
    z-index: 20;
    width: 300px;
    height: 85px;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    img{
      width: 100%;
    }
  }
  .slide_inner{
    position: relative;
    width: 100%;
    height: var(--wHeightPx);
    .slide_item{
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity .5s cubic-bezier(0.45, 0, 0.55, 1);
      will-change: opacity;
      @media screen and (max-width: 767px){
        background-image: none !important;
      }
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &.display_slide{
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-main-visual{
    height: 100vh;
    &::before, &::after{
      position: absolute;
      z-index: 10;
      left:0;
      right:0;
      margin: auto;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-size: 15vw;
      background-repeat: repeat-x;
    }
    .main_logo{
      width: 500px;
      height: 140px;
      top: 0;
      bottom: 0;
    }
    .slide_inner{
      height: 100vh;
      .slide_item{
        @include bgSet;
        img{
          display: none;
        }
      }
    }
  }
}
