.page-index{
  padding-top: 0;
  .section-technology{
    padding: 50px 0;
    background: $keyColor;
    color: $fontColorWhite;
    .flex_layout{
      .flex_right{
        margin-bottom: 35px;
      }
    }
  }
  .section-zenshot{
    padding: 50px 0;
    .zenshot_logo{
      width: 180px;
      margin: 0 auto 15px;
    }
    .zenshot_ttl{
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 20px;
    }
    .zenshot_description{
      @include basicP;
      br{
        display: none;
      }
    }
    .comp-link-button{
      margin-top: 25px;
      a{
        justify-content: center;
      }
    }
  }
  .section-corporate{
    padding: 50px 0;
    background: $keyColor;
    border-bottom: 1px solid $borderColor;
    .flex_layout{
      .flex_right{
        margin-bottom: 35px;
      }
    }
  }
  .section-news-list{
    padding: 50px 0;
    background: $keyColor;
    color: $fontColorWhite;
  }
}
