.page-underpage{
  padding-top: 120px;
  .section-main{
    margin-bottom: 30px;
    .comp-news-category{
      margin-top: 30px;
    }
  }
  .section-news{
    padding-bottom: 60px;
  }
  .section-form{
    padding-bottom: 60px;
  }
  .section-privacy-terms{
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 980px){
  .page-underpage{
    padding-top: 160px;
    .section-main{
      margin-bottom: 60px;
      .comp-news-category{
        margin-top: 40px;
      }
    }
    .section-news{
      padding-bottom: 120px;
    }
    .section-form{
      padding-bottom: 120px;
    }
    .section-privacy-terms{
      padding-bottom: 120px;
    }
  }

}
