$fontColor: #000000;
$keyColor: #000000;
$insertColor: #AC8F14;
$insertRed: #D90517;
$bgColor: #F8F8F8;
$hoverColor: #464646;
$hoverYellow: #DCB922;
$borderColor: #d8d8d8;

/* ----- Google Fonts ----- */

@mixin rotunda{
  font-family: rotunda-variable, sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
}

@mixin mincho{
  font-family: dnp-shuei-nshogomincho-std, sans-serif;
  letter-spacing: 0.06em;
}

@mixin wrapper{
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 720px){
    width: 83%;
    max-width: 1590px;
  }
}
@mixin flexSet {
	display: flex;
	flex-wrap: wrap;
}
@mixin bgSet{
  background:{
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}
@mixin hover{
  transition: opacity .3s;
  will-change: opacity;
  &:hover{
    opacity: 0.75;
  }
}
@mixin txtHover{
  transition: color .2s;
  will-change: color;
  &:hover{
    color: #979797;
  }
}

@mixin basicP{
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  p{
    margin-bottom: 1em;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1100px){
    font-size: 1.5rem;
    padding: 0;
  }
}
