@charset "UTF-8";
/*########## ミックスイン ##########*/
/* ----- Google Fonts ----- */
/*########## 共通レイアウト ##########*/
.animate-fadeup {
  /* blur + opacity + transition */
  opacity: 1;
  -webkit-filter: blur(0px) brightness(1);
          filter: blur(0px) brightness(1);
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
  -webkit-transition: opacity 0.6s, -webkit-filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, -webkit-filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity, filter, transform;
}
.animate-fadeup.effect, .animate-fadeup.delayed_effect {
  opacity: 0;
  -webkit-filter: blur(15px) brightness(1.25);
          filter: blur(15px) brightness(1.25);
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

.animate-fadeup2 {
  /* opacity + transition */
  opacity: 1;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity, transform;
}
.animate-fadeup2.effect, .animate-fadeup2.delayed_effect {
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

.animate-fadeup3 {
  /* opacity */
  opacity: 1;
  -webkit-transition: opacity 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity;
}
.animate-fadeup3.effect, .animate-fadeup3.delayed_effect {
  opacity: 0;
}

.func-txt-anim, .func-txt-anim-wrap {
  overflow: hidden;
}
.func-txt-anim span, .func-txt-anim-wrap span {
  display: inline-block;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  transition: transform 0.5s, filter 0.5s;
  transition: transform 0.5s, filter 0.5s, -webkit-transform 0.5s, -webkit-filter 0.5s;
  will-change: transform;
}
.func-txt-anim span.display, .func-txt-anim-wrap span.display {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul:after {
  display: block;
  content: "";
  clear: both;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #fff;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  color: inherit;
}
@media screen and (max-width: 780px) {
  select {
    font-size: 1.6rem;
  }
}
select:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

::-moz-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

::-ms-input-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

::placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}
@media screen and (max-width: 780px) {
  ::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  ::-moz-placeholder {
    font-size: 1.6rem;
  }
  :-ms-input-placeholder {
    font-size: 1.6rem;
  }
  ::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  ::placeholder {
    font-size: 1.6rem;
  }
}

select option::-webkit-input-placeholder {
  color: #444;
}

select option::-moz-placeholder {
  color: #444;
}

select option:-ms-input-placeholder {
  color: #444;
}

select option::-ms-input-placeholder {
  color: #444;
}

select option::placeholder {
  color: #444;
}

::-webkit-placeholder {
  /*padding-top: 0.25em;*/
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #aaa;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.4rem;
  line-height: 1.5;
}
@media screen and (max-width: 780px) {
  textarea {
    font-size: 16rem;
  }
}

input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
  border: 1px solid #979797;
  padding: 0 5px;
  font-size: 1.6rem;
}
@media screen and (max-width: 780px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number] {
    font-size: 1.6rem;
  }
}

input[type=submit],
input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
input[type=submit]:hover,
input[type=button]:hover {
  opacity: 0.7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html {
  font-size: 9px;
}
@media screen and (min-width: 351px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 980px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width: 1341px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1700px) {
  html {
    font-size: 11px;
  }
}

body {
  /*font-size: 16px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #000000;
  background: #FAFAFA;
  font-weight: 400;
  font-family: YakuHanJP, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS Pgothic", "Osaka", sans-serif, Helvetica, Helvetica Neue, Arial, Verdana;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 981px) {
  body.bind {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

article {
  padding-top: 100px;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  will-change: opacity;
  overflow: hidden;
}
article.loading {
  opacity: 0;
}

section .section_inner {
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 720px) {
  section .section_inner {
    width: 83%;
    max-width: 1590px;
  }
}
@media screen and (min-width: 720px) {
  section .section_inner {
    min-width: 1200px;
  }
}

button {
  font-family: inherit;
  font-weight: inherit;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: 1000;
}
header .header_inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000000;
}
header .header_inner .header_left {
  padding-left: 15px;
}
header .header_inner .header_left a {
  display: block;
  width: 150px;
}
header .header_inner .header_right .header_navigation {
  display: none;
}
header .header_inner .header_right .hummenu_wrap button {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-left: 1px solid #000000;
  background: transparent;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  will-change: background;
}
header .header_inner .header_right .hummenu_wrap button span {
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  right: 0;
  margin: auto;
  background: #000000;
  margin: auto;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
  will-change: background, transform;
}
header .header_inner .header_right .hummenu_wrap button span:nth-of-type(1) {
  top: 27px;
}
header .header_inner .header_right .hummenu_wrap button span:nth-of-type(2) {
  bottom: 27px;
}
header .header_inner .header_right .hummenu_wrap button.hum_open span:nth-of-type(1) {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
header .header_inner .header_right .hummenu_wrap button.hum_open span:nth-of-type(2) {
  -webkit-transform: translateY(-4px) rotate(-45deg);
          transform: translateY(-4px) rotate(-45deg);
}

.comp-hummenu {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: 200;
  height: var(--wHeightPx);
  overflow: hidden;
  background: #fff;
  pointer-events: none;
  opacity: 0;
  line-height: 1;
  will-change: opacity;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: #000000;
}
@media screen and (min-width: 768px) {
  .comp-hummenu {
    display: none;
  }
}
.comp-hummenu.open {
  opacity: 1;
  pointer-events: all;
}
.comp-hummenu .contents {
  position: relative;
  width: 100%;
  height: var(--wHeightPx);
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.comp-hummenu .contents::-webkit-scrollbar {
  display: none;
}
.comp-hummenu .contents .hummenu_inner {
  position: relative;
  padding: 100px 6vw 0;
}
.comp-hummenu .contents .hummenu_inner .navigation_logo {
  max-width: 220px;
  margin: 0 auto 30px;
}
.comp-hummenu .contents .hummenu_inner .hummenu_navigation {
  margin-bottom: 40px;
}
.comp-hummenu .contents .hummenu_inner .hummenu_navigation .instagram a {
  display: block;
  width: 20px;
  margin: 0 auto 30px;
}
.comp-hummenu .contents .hummenu_inner .hummenu_navigation ul li {
  margin-bottom: 10px;
}
.comp-hummenu .contents .hummenu_inner .hummenu_navigation ul li a {
  display: block;
  font-family: rotunda-variable, sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  padding: 5px 0;
}
.comp-hummenu .contents .hummenu_inner .hummenu_lower ul li {
  margin-bottom: 10px;
}
.comp-hummenu .contents .hummenu_inner .hummenu_lower ul li a {
  display: block;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}

/*########## ページ個別レイアウト ##########*/
/*########## コンポーネント ##########*/
/* 共通パーツ */
/*@import 'component/common/comp-section-title.scss';*/