.comp-flex-txt-wrap{
  .flex_subttl{
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  .flex_description{
    @include basicP;
  }
}

@media screen and (min-width: 980px){
  .comp-flex-txt-wrap{
    .flex_subttl{
      font-size: 3.2rem;
      line-height: 1.76;
      margin-bottom: 20px;
    }
  }
}
