.comp-section-title{
  .ttl{
    position: relative;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 0px;
    &::before{
      display: block;
      content: "";
      position: absolute;
      left:0;
      bottom:0;
      width: 20px;
      height: 3px;
      background: $keyColor;
    }
  }
  .ttl_description{
    margin-top: 20px;
    @include basicP;
  }
  .comp-link-button{
    margin-top: 25px;
  }
  &.white{
    color: $fontColorWhite;
    .ttl{
      &::before{
        background: $fontColorWhite;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-section-title{
    .ttl{
      position: relative;
      font-size: 2.0rem;
      font-weight: 500;
      padding-bottom: 30px;
      &::before{
        display: block;
        content: "";
        position: absolute;
        left:3px;
        bottom:0;
        width: 20px;
        height: 3px;
        background: $keyColor;
      }
    }
    .ttl_description{
      margin-top: 30px;
    }
    .comp-link-button{
      margin-top: 40px;
    }
  }
}
