@-webkit-keyframes circle {
  0% {
    stroke-dasharray: 80, 20;
    transform: rotate(0deg);
  }
  100% {
    stroke-dasharray: 80, 20;
    transform: rotate(360deg);
  }
}

.comp-link-button{
  max-width: 140px;
  a{
    @include flexSet;
    align-items: center;
    color: inherit;
    .txt{
      position: relative;
      font-size: 1.4rem;
      @include larsseit;
      padding-right: 15px;
      padding-bottom: 5px;
      margin-right: 10px;
      &::before{
        display: block;
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        height: 1px;
        background: $keyColor;
      }
    }
    .caret{
      position: relative;
      width: 50px;
      height: 50px;
      @include flexSet;
      align-items: center;
      justify-content: center;
      transform-origin: center center;
      transition: transform .5s;
      will-change: transform;
      .arrow{
        width: 20px;
        .cls-1{
          fill:none;
          stroke:$keyColor;
          stroke-miterlimit:10;
        }
      }
      .circle{
        position: absolute;
        top:0;
        left:0;
        width: 50px;
        .st1{
          fill: none;
          stroke: $keyColor;
          stroke-miterlimit: 10;
          transform-origin: center center;
          animation: circle 3s linear infinite;
        }
      }
    }
    &:hover{
      .caret{
        transform: scale(1.1);
      }
    }
  }
  &.white{
    a{
      color: $fontColorWhite;
      .txt{
        &::before{
          background: $fontColorWhite;
        }
      }
      .caret{
        .arrow{
          .cls-1{
            stroke:$fontColorWhite;
          }
        }
        .circle{
          .st1{
            stroke: $fontColorWhite;
          }
        }
      }
    }
  }
}
