.comp-section-recruit{
  border-top: 1px solid $borderColor2;
  padding: 50px 0;
  .flex_layout{
    .flex_left{
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px){
  .comp-section-recruit{
    border-top: 1px solid $borderColor2;
    padding: 120px 0;
    .flex_layout{
      align-items: center;
      .flex_left{
        margin-bottom: 0px;
      }
    }
  }
}
