footer{
  .footer-contact{
    padding: 60px 0;
    background: $bgColor;
    .contact_logo{
      width: 160px;
      margin: 0 auto 35px;
      img{
        width: 100%;
      }
    }
    .contact_button{
      a{
        display: block;
        color: #fff;
        font-size: 1.6rem;
        padding: 15px 0;
        border-radius: 7px;
        background: $keyColor;
        text-align: center;
      }
    }
  }
  .section-navigation{
    padding: 60px 0 50px;
    background: $keyColor;
    color: #fff;
    .navigation_flex{
      .navigation_logo{
        max-width: 220px;
        margin: 0 auto 30px;
        a{
          display: block;
          img{
            width: 100%;
          }
        }
      }
      .navigation_contents{
        .footer_navigation{
          margin-bottom: 40px;
          .instagram{
            a{
              display: block;
              width: 20px;
              margin: 0 auto 30px;
            }
          }
          ul{
            li{
              margin-bottom: 10px;
              a{
                display: block;
                @include rotunda;
                text-align: center;
                color: #fff;
                font-size: 1.6rem;
                padding: 5px 0;
              }
            }
          }
        }
        .footer_lower{
          ul{
            li{
              margin-bottom: 10px;
              a{
                display: block;
                padding: 5px 0;
                text-align: center;
                color: #fff;
                font-size: 1.3rem;
              }
            }
          }
          .copyright{
            margin-top: 35px;
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  footer{
    .footer-contact{
      padding: 120px 0;
      background: $bgColor;
      .contact_logo{
        width: 180px;
        margin: 0 auto 50px;
        img{
          width: 100%;
        }
      }
      .contact_button{
        max-width: 380px;
        margin: 0 auto;
        a{
          @include hover;
          display: block;
          color: #fff;
          font-size: 1.6rem;
          padding: 15px 0;
          border-radius: 7px;
          background: $keyColor;
          text-align: center;
        }
      }
    }
    .section-navigation{
      padding: 100px 0;
      @include flexSet;
      .navigation_flex{
        @include flexSet;
        @include wrapper;
        align-items: flex-end;
        justify-content: space-between;
        .navigation_logo{
          max-width: 260px;
          margin: 0;
          img{
            width: 100%;
          }
        }
        .navigation_contents{
          .footer_navigation{
            @include flexSet;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 25px;
            .instagram{
              padding-left: 20px;
              border-left: 1px solid #fff;
              a{
                @include hover;
                display: block;
                width: 20px;
                margin: 0;
              }
            }
            ul{
              @include flexSet;
              justify-content: flex-start;
              align-items: center;
              li{
                margin-right: 20px;
                margin-bottom: 0px;
                a{
                  @include hover;
                  display: block;
                  @include rotunda;
                  text-align: center;
                  color: #fff;
                  font-size: 1.8rem;
                  padding: 5px 0;
                }
              }
            }
          }
          .footer_lower{
            @include flexSet;
            justify-content: flex-start;
            align-items: center;
            ul{
              @include flexSet;
              justify-content: flex-start;
              align-items: center;
              li{
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid #fff;
                margin-bottom: 0px;
                a{
                  @include hover;
                  display: block;
                  padding: 0;
                  font-size: 1.3rem;
                }
              }
            }
            .copyright{
              margin-top: 0px;
              font-size: 1.2rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
